<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//ajax.googleapis.com">
        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="//storage.googleapis.com">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - DnxWebA</title>
        <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">DnxWebA</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link 1</a>
        <a class="mdl-navigation__link" href="">Link 2</a>
        <a class="mdl-navigation__link" href="">Link 3</a>
        <a class="mdl-navigation__link" href="">Link 4</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">DnxWebA</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link 1</a>
      <a class="mdl-navigation__link" href="">Link 2</a>
      <a class="mdl-navigation__link" href="">Link 3</a>
      <a class="mdl-navigation__link" href="">Link 4</a>
    </nav>
  </div>

    <main class="mdl-layout__content">
    <div class="page-content">
        @RenderBody()
    </div>
  </main>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" />
        <script src="//storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js" />
        @RenderSection("scripts", required: false)
    </body>
</html>
