<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://code.getmdl.io">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MadDNX</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@5.1.0/dist/material-components-web.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/scripts/ready.js"></script>
</head>
<body class="mdc-typography">
        <div class="mdc-toolbar">
            <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <button class="demo-menu material-icons mdc-toolbar__menu-icon">menu</button>
              <span class="mdc-toolbar__title">MadDNX</span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                    <a asp-controller="Home" asp-action="Index" class="mdl-navigation__link"><i class="material-icons">home</i>Home</a>
                    <a asp-controller="Home" asp-action="Contact" class="mdl-navigation__link"><i class="material-icons">email</i>Contact</a>
            </section>
           </div>
        </div >
        <aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
            <nav class="mdc-drawer__drawer">
                <header class="mdc-drawer__header">
                  <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
                    Navigation
                  </div>
                </header>

                <nav  class="mdc-drawer__content mdc-list-group">
                    <div id="icon-with-text-demo" class="mdc-list">
                        <a asp-controller="Home" asp-action="Index" class="mdc-list-item"><i class="material-icons">home</i>Home</a>
                        <a asp-controller="Home" asp-action="Contact" class="mdc-list-item"><i class="material-icons">email</i>Contact</a>
                    </div>
                </div>
                </nav>
            </nav>
        </aside>

        <main>
            <div class="page-content">
                @RenderBody()
            </div>
        </main>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Copyright &copy; @DateTime.Now.Year Madhon</div>
            </div>
        </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/material-components-web@5.1.0/dist/material-components-web.min.js"></script>
    <script type="text/javascript">
        window.mdc.autoInit();
    </script>
        <script>
      demoReady(function() {
        var drawerEl = document.querySelector('.mdc-drawer');
        var MDCTemporaryDrawer = mdc.drawer.MDCTemporaryDrawer;
        var drawer = new MDCTemporaryDrawer(drawerEl);
        document.querySelector('.demo-menu').addEventListener('click', function() {
          drawer.open = true;
        });
        drawerEl.addEventListener('MDCTemporaryDrawer:open', function() {
          console.log('Received MDCTemporaryDrawer:open');
        });
        drawerEl.addEventListener('MDCTemporaryDrawer:close', function() {
          console.log('Received MDCTemporaryDrawer:close');
        });
      });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
