<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnxWebA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
      <div class="hero-head">
        <header class="header">
          <nav class="nav has-shadow">
            <div class="left-nav">
              <span class="nav-item">DnxWebA</span>
             </div>
             <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
          <div class="nav-right nav-menu">
            <a asp-controller="Home" asp-action="Index" class="nav-item"><span class="icon"><i class="fa fa-home"></i></span> Home</a>
            <a asp-controller="Home" asp-action="Contact" class="nav-item"><span class="icon"><i class="fa fa-envelope"></i></span> Contact</a>
          </div>
          </nav>
        </header>
          </div>

        <section class="section">
          <div class="hero-body">
            <div class="container">
                @RenderBody()
            </div>
          </div>
        </section>

        <div class="hero-foot">
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered"><p>Copyright &copy; @DateTime.Now.Year Madhon</p></div>
            </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>