@{
  ViewData["Title"] = "Contact";
}
<div class="mdc-layout-grid">
<div class="mdc-layout-grid__inner">
    <form action="#" role="form" name="frmContact" data-parsley-validate>
        <div class="mdc-text-field mdl-js-textfield mdc-layout-grid__cell mdc-layout-grid__cell--span-12 textfield-demo">
            <input class="mdc-text-field__input" type="text" id="Name" autofocus required />
            <label class="mdc-text-field__label" for="Name"> <localize>Your Name...</localize> </label>
        </div>

        <div class="mdc-text-field mdl-js-textfield mdc-layout-grid__cell mdc-layout-grid__cell--span-12 textfield-demo">
            <input class="mdc-text-field__input" type="email" id="Email" data-parsley-trigger="change" required />
            <label class="mdc-text-field__label" for="Email"> <localize>Your Email Address...</localize> </label>
        </div>

        <div class="mdc-text-field mdl-js-textfield mdc-layout-grid__cell mdc-layout-grid__cell--span-12 textfield-demo">
            <textarea class="mdc-text-field__input" type="text" rows="3" id="Message" required></textarea>
            <label class="mdc-text-field__label" for="Message"> <localize>Your Message...</localize> </label>
        </div>

        <div>
            <button class="mdc-button mdl-js-button mdl-button--primary mdc-button--raised mdl-js-ripple-effect mdc-layout-grid__cell mdc-layout-grid__cell--span-12" type="submit" name="SubmitBtn" data-mdc-auto-init="MDCRipple">
                <localize>Submit</localize>
                <i class="material-icons">send</i>
            </button>
        </div>

        <div>
            <button class="mdc-button mdl-js-button mdl-button--accent mdc-button--raised mdl-js-ripple-effect mdc-layout-grid__cell mdc-layout-grid__cell--span-12" type="reset" name="ResetBtn" data-mdc-auto-init="MDCRipple">
                <localize>Reset</localize>
                <i class="material-icons">undo</i>
            </button>
        </div>

    </form>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
}
